<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ddrd.management.material.repository.MaterialRepository">
    <select id="getMaterials" resultType="com.ddrd.management.material.domain.MaterialDto">
        SELECT * FROM ddrd_material
    </select>
</mapper>