<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Hello World!</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>이름</th>
        <th>전화번호</th>
        <th>성별</th>
        <th>가입일</th>
    </tr>
    </thead>
    <tbody id="userInfo">

    </tbody>
</table>
</body>
<script>
    window.onload=function (){
        getUsers()

    }
    function getUsers(){
        const url = '/user/users'
        let fetchData = {
            method: 'GET'
        }
        fetch(url, fetchData)
            .then( (result) =>result.json())
            .then((data)=> document.getElementById("id1").innerText(data[0].userName) )
        // 지원아보아라
        // $("#userInfo")
        //document.getElementById("userInfo")
        // document.querySelector("#userInfo")
        // console.log("회원 리스트 ;; ",result.json())
        // console.log("회원 리스트 ;; ",result[0].userName)
    }

</script>
</html>