<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <script>
        function login(){
            console.log("id :: ",document.getElementById("userId").value)
            console.log("password :: ",document.getElementById("password").value)
            const url = "/login";
            let data = {
                userId:document.getElementById("userId").value,
                password:document.getElementById("password").value
            }
            let fetchData = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: new Headers({
                    'Content-Type' : 'application/json; charset=UTF-8'
                })
            }
            fetch(url, fetchData)
                .then(function (result){
                    console.log("result :: ", result)
                    console.log("result :: ", result.body)
                    console.log("result :: ", result.headers.get("Authentication"))

                })
        }
    </script>
</head>
<body>
<!--<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>-->
    <div><label> 아이디 : <input type="text" id="userId" name="userId"/> </label></div>
    <div><label> 비밀번호 : <input type="password" id="password" name="password"/> </label></div>
    <div><input type="button" onclick="login()" value="Sign In"/></div>

</body>
</html>