<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <th>연습실 명</th>
            <th>연습실 위도</th>
            <th>연습실 경도</th>
            <th>연습실 도로명 주소</th>
            <th>연습실 주소</th>
            <th>연습실 설명</th>
            <th:block sec:authorize="hasRole(T(com.ddrd.management.user.UserRoleType.MANAGER))">
                <th>연습실 중요 사항</th>
            </th:block>
            <th>등록일</th>
        </tr>

    </thead>
    <tbody>
    <th:block th:each="item: ${materialList}">
        <tr>
            <td th:text="${item.materialName}"></td>
            <td th:text="${item.materialLatitude}"></td>
            <td th:text="${item.materialLongitude}"></td>
            <td th:text="${item.materialNewAddr}"></td>
            <td th:text="${item.materialOldAddr}"></td>
            <td th:text="${item.materialNoti}"></td>
            <th:block sec:authorize="hasRole(T(com.ddrd.management.user.UserRoleType.MANAGER))">
                <td th:text="${item.materialSecretNoti}"></td>
            </th:block>
            <td th:text="${item.regNo}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

</body>
</html>